ion-content{
    
    --background: #F6F6E9;
    --color:#7B3911;
    font-family: 'Amaranth', sans-serif;
}

ion-tabs,ion-tab-bar{
    
    --background: #F6F6E9;
    --color:#7B3911;
    font-family: 'Amaranth', sans-serif;
}

ion-hearder, ion-toolbar, ion-grid, ion-title{
    
    --background: #F6F6E9;
    --color:#7B3911;
   font-family: 'Amaranth', sans-serif;
   font-size: 35px;
   
}

 .button{
   --background:#1D7151;
  

}
.perfil{
   
    font-size: 100px;
    display: flex;
    justify-content: flex-start;
    padding: 30px; 

}

ion-content .portada{
    --background:#1D7151;
   

}

 .alerta {
    --background:#1D7151;
   

}

